<nav class="nav" id="nav"><div class="nav-inner"><a href="#" class="nav-logo"><img src="/images/logo-horiz.png" alt="The Center Book" id="nav-logo"></a><ul class="nav-links"><li><a href="#" class="nav-cta" data-cta="Book a Demo">Book a Demo</a></li></ul></div></nav>
